@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-customDarkBlack transition duration-1000;
  }

  h1 {
    @apply text-customDarkBlack text-4xl mt-10 py-5 font-bold dark:text-white;
  }
  h2 {
    @apply text-customDarkBlack text-2xl py-3 font-semibold dark:text-white;
  }
  p {
    @apply text-customDarkBlack leading-10 dark:text-white;
  }
  .content ul li {
    @apply flex place-items-center indent-3 sm:indent-10 list-none;
  }
  .content ul li:before {
    @apply h-5 w-5 mr-5;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%2337c5ab' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M5 13l4 4L19 7' /%3E%3C/svg%3E");
  }
  ol {
    @apply list-outside;
  }
  ol li {
    @apply list-decimal ml-10;
  }
  a {
    @apply text-customDarkGreen underline;
  }
  a:hover {
    @apply font-bold;
  }
  footer {
    @apply mt-16;
  }
  footer a {
    @apply text-customDarkIndigo underline;
  }
  b {
    @apply text-customDarkGreen;
  }
  .logo {
    @apply object-scale-down h-44 py-2;
    clip-path: circle(25%);
    z-index: 1;
  }
  figcaption {
    @apply flex items-center justify-center font-semibold;
  }
  nav a {
    @apply no-underline;
  }
  hr {
    @apply pt-5 divide-x-8;
  }
  pre {
    @apply bg-customDarkBlack rounded-3xl text-customDarkGreen p-5 dark:border-4 border-customDarkGreen;
  }
}

main {
  @apply mx-5 xl:mx-48;
}

nav {
  @apply mx-3 xl:mx-10;
}

.slick-dots li button::before {
  @apply text-customDarkGreen text-xs leading-relaxed sm:text-xl !important;
}

.slick-prev::before,
.slick-next::before {
  @apply text-customDarkGreen text-2xl sm:text-5xl !important;
}

.slick-slider {
  @apply flex align-middle !important;
}

.slick-prev {
  @apply absolute sm:inset-0 sm:top-1/2 sm:-left-12 box-border z-0 -ml-2 !important;
}

.slick-next {
  @apply absolute left-full sm:inset-full sm:top-1/2 box-border z-0 ml-2 !important;
}

#test {
  @apply visible !important;
}

nav > .active > a {
  @apply: bg-customDarkBlack !important;
}
